.color-orange {
    color: #151A1B;
}

.bg-orange {
    background-color: #151A1B;
    color: white !important;
}

.bg-default {
    background: #a2a4a7;
}

.color-white {
    color: white;
}

.color-white a {
    color: white;
}

.navbar-nav a:hover {
    color: white;
}

.form-group label {
    font-weight: 400 !important;
}

.form-group input {
    border-radius: 40px !important;
    border-color: #151A1B;
}

.input-group input {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-color: #151A1B;
    border-left: 0px;
}


.input-group-text{
    background-color: white;
    border-color: #151A1B;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;

}

button {
    border-radius: 40px !important;
    border-color: #151A1B;

}

.form-group select {
    border-radius: 40px !important;
    border-color: #151A1B;
}

.form-group textarea {
    border-radius: 20px !important;
    border-color: #151A1B;
}

.card-title {
    margin: 20px 0px;
    float: none !important;
    text-align: center;
}

.card-agenda{
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;
    padding: 10px 15px;
}

.nav-link.active{
    background-color: #151A1B !important;
}